.Header-- {

  &wrapper {
    border-bottom: 2px solid #001246;
  }

  &title {
    margin-left: 30px;
    font-size: 24px;
    color: #001246;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }

}
